<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Vue Momentum</title>
</head>
<body>
    <div id="app">
        <form v-on:submit.prevent="addTodo">
            <input v-model="todo"/>
            <button type="submit">Add todo</button>
        </form>
        <hr>
    

        <ul>
            <li v-for="(todo, index) in todos">
                <!-- <input type="checkbox" id="completed-todo" v-model="completed"> -->
                {{ todo }}
                <button @click="deleteTodo(todo, index)">delete</button>
            </li>
        </ul>


    </div>
    
    <script src="app.js"></script>
</body>
</html>